<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Practica</title>

</head>
<body>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment ="menuSuperior">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="index3.html" class="nav-link"><i class="nav-icon fas fa-th text-success"></i> Escritorio</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link"><i class="fas fa-cart-plus text-blue"></i> POS</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fa fa-user text-warning"></i>Yubitza Siesquen Merino
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item text-sm"><i class="fas fa-user-cog text-primary"></i> Perfil</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer"><i class="fas fa-sign-out-alt text-danger"></i> Cerrar
              sesión</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->
    
    <aside class="main-sidebar sidebar-dark-blue elevation-4" th:fragment ="menuLateral" >
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">Yubitza</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar" th:fragment ="menuLateral">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li id="liEscritorio" class="nav-item">
              <a id="aEscritorio" href="/" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>Escritorio</p>
					</a>
            </li>
            <li id="liAlmacen" class="nav-item">
              <a id="aAlmacen" href="#" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                  Almacén
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a id="liUnidadMedida" href="/unidades" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Unidades</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a id="liCategoria" href="/categorias" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Categorías</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a id="liProducto" href="/productos" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Productos</p>
                  </a>
                </li>
              </ul>
            </li>
            <li id="liSeguridad" class="nav-item">
              <a id="aSeguridad" href="#" class="nav-link">
                <i class="fas fa-users-cog"></i>
                <p>
                  Seguridad
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a id="liUsuario" href="/usuarios" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Usuarios</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-info-circle"></i>
                <p>
                  Acerca de
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" th:fragment="copy">
      <!-- Control sidebar content goes here -->
      <div class="p-3">
        <h5>Plantilla</h5>
        <p>Desarrollado por Yubitza Siesquen Merino</p>
      </div>
    </aside>
    <!-- /.control-sidebar -->
 <!-- Main Footer -->
    <footer class="main-footer" th:fragment="footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">
        @yubitza.17
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2022 <a href="https:uss.edu.pe">IncanatoApps</a>.</strong> Derechos reservados.
    </footer>
</body>
</html>